{
  "ConnectionStrings": {
    "DefaultConnection": "Host=YOUR_NEON_HOST;Database=neondb;Username=YOUR_USERNAME;Password=YOUR_PASSWORD;SSL Mode=Require;Trust Server Certificate=true"
  },
  "Jwt": {
    "Key": "REPLACE_WITH_SECURE_KEY_MIN_32_CHARS"
  },
  "Cloudinary": {
    "CloudName": "YOUR_CLOUD_NAME",
    "ApiKey": "YOUR_API_KEY",
    "ApiSecret": "YOUR_API_SECRET"
  },
  "Email": {
    "Host": "smtp.gmail.com",
    "Port": "587",
    "Username": "your-email@gmail.com",
    "Password": "YOUR_APP_PASSWORD",
    "FromName": "UniClub Hub",
    "FromAddress": "your-email@gmail.com"
  },
  "AppUrl": "https://localhost:54610",
  "Google": {
    "ClientId": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
  },
  "SendGrid": {
    "ApiKey": "SG.YOUR_API_KEY_HERE",
    "FromName": "UniClub Hub",
    "FromAddress": "your-email@gmail.com"
  },
  "Gemini": {
    "ApiKey": "YOUR_GEMINI_API_KEY",
    "Model": "gemini-flash-latest",
    "BaseUrl": "https://generativelanguage.googleapis.com",
    "Temperature": 0.2
  }
}
