{
  "ConnectionStrings": {
    "DefaultConnection": "Host=ep-lingering-field-aoou842f-pooler.c-2.ap-southeast-1.aws.neon.tech;Database=neondb;Username=neondb_owner;Password=npg_AFRnE7ePQfi4;SSL Mode=Require;Trust Server Certificate=true"
  },
  "Jwt": {
    "Issuer": "UniClubHub",
    "Audience": "UniClubHubUsers",
    "Key": "REPLACE_WITH_SECURE_KEY_MIN_32_CHARS",
    "AccessTokenExpiryMinutes": 60,
    "RefreshTokenExpiryDays": 7
  },
  "Cloudinary": {
    "CloudName": "YOUR_CLOUD_NAME",
    "ApiKey": "YOUR_API_KEY",
    "ApiSecret": "YOUR_API_SECRET"
  },
  "Email": {
    "Host": "smtp.gmail.com",
    "Port": "587",
    "Username": "your-email@gmail.com",
    "Password": "YOUR_APP_PASSWORD",
    "FromName": "UniClub Hub",
    "FromAddress": "your-email@gmail.com"
  },
  "AppUrl": "https://your-domain.com",
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
